# Used by docker-compose to configure the Postgres and pgAdmin containers.
DB_USERNAME=ledger_user
DB_PASSWORD=ledger_password
DB_NAME=mini_transaction_ledger
DB_PORT=5432

PGADMIN_EMAIL=admin@ledger.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
